PurchasedItem Index


<% @purchased_items.each do |item| %>
<p><%= item.product.name %></p>


<%= button_to 'Review this Purchase', new_review_path, params: {id: item.id}, :method => 'get' %>
<% end %>
