<h1>Form</h1>




<p>Name:<%= @product.name %></p>
<p>Price:<%= @product.price %></p>
<p>id: <%= @product.id %></p>



<%= button_to "purchase", purchased_items_path, params: {purchased_item: {product_id: params[:id], buyer_id: @current_user.id}}, method: :post %>
