<h1>User Show Page</h2>


<p>Name: <%= @user.name %></p>
<p>Contact: <%= @user.email %></p>




We need link for
    1. creating new reviews about this user (reviews#new => reviews#create)
    2. We want name, reviews, contact info, products purchased and sold.
