<h1> Home Page </h1>


1. List out all the products (random)

2. Have tabs for for links
                1 - Account details
                2 - Purchased History
                3 - Search bar to find items
                4 - Sell button
                5 - Browse tab to choose what type




<!--
<div class="dropdown">
  <button>Button</button>
  <div>
    <a href="#">Long Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
  </div>
</div>
-->
