<%= render "products" %>

<div class=no_item>
    <% if @products.count == 0 %>
        we couldn't find an item by that name, try again.<br>
        but NBA IS BACK!!!!<br>
        <iframe src="https://giphy.com/embed/xT4uQfHn1CUGyYsiiY" width="478" height="358" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <iframe src="https://giphy.com/embed/l4Ki2obCyAQS5WhFe" width="480" height="358" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <iframe src="https://giphy.com/embed/xT1XGESDlxj0GwoDRe" width="424" height="358" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <% end %>
</div>