@import "bootstrap-sprockets";
@import "bootstrap";

h1{
    text-align: center;
}
/*show page */


/* edit age */

.field{
    text-align: center;
}
.field label{
    color: black;
}

.form_box{
    border: solid 5px black;
    background-image: url('graffit.jpeg');
    background-size: cover;
    width: 380px;
    margin: 0px auto 0px auto;
}

.input{
    width: 200px;
    text-align:center
}

.address{
    resize: none;
    width: 200px;
    line-height: 16px;
    text-align:center
}

/* header and tabs */

body{
    height: 120px;
}

.cart img{
    height: 40px;
    position: absolute;
    top: 30px;
    right: 50px;
}

.logo img{
    width: 200px;
    align-self: right;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #282828;
    display: flex;
    color: white;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.browse {
    position: relative;
}

.browse ul {
    position: absolute;
    background-color: #282828;
    margin-top: 10px;
    width: 90px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    transform: translate(-10px);
    transition: all 1s ease;
    z-index: 1;
}
.browse li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse li:hover {
    background-color: gray;
}

.browse_tab {
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.browse button {
    background-color: transparent;
    border: none;
    color: white;
}

.browse button:hover {
    background-color: white;
    color: black;
}

.browse button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.path_box { 
    background-color: transparent;
    border: none;
    color: white;
}

.path_box:hover {
    background-color: white;
    color: black;
}

.myaccount {
    position: relative;
}

.myaccount ul {
    position: absolute;
    background-color: #282828;
    margin-top: 10px;
    width: 90px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    transform: translate(-10px);
    transition: all 1s ease;
    z-index: 1;
}
.myaccount li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myaccount li:hover {
    background-color: gray;
}

.account_tab {
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.myaccount button {
    background-color: transparent;
    border: none;
    color: white;
}

.myaccount button:hover {
    background-color: white;
    color: black;
}

.myaccount button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}