@import "bootstrap-sprockets";
@import "bootstrap";

.logo img{
    width: 200px;
}

h3 {
    color: white;
}
.header {
    background-color: #282828;
}
.header li{
    display: inline-block;
}

.dropdown button {
    background-color: transparent;
    border: none;
    color: white;
}

.dropdown button:hover {
    background-color: lightblue;
}

.path_box { 
    background-color: transparent;
    border: none;
    color: white;
}

.path_box:hover {
    background-color: lightblue;
}