    <div class=container>
        <div class=subpage>
            <% @products.each do |product|%>
            <div class='tile'>
                    <div class='each_item_img'>
                        <%= link_to image_tag(product.image, :class => 'item_img'), product %>
                    </div>

                    <div class='each_item_name_price'>
                        <%= link_to product.name, product, :class => 'item_link' %><br>
                        <p class=item.price>$<%= product.price %></p>
                    </div>
                    seller rating
                    <div class='star_rate'>
                        <p><% product.seller.avg_rating.to_i.times do%>
                            <span class="glyphicon glyphicon-star"></span>
                            <% end %>
                            <% product.seller.blank_stars.times do  %>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        <% end %></p>
                     </div>
            </div>    
            <% end %>
        </div>
    </div>

    <div class='page_number'>
        <%= will_paginate(@products) %>
    </div>