<div class=subpage>
    <% @products.each do |product|%>
    <% if product.image.attached? %>
        <%= link_to image_tag(product.image, style: "width: 100px;"), product %>
    <% end %>
        <%= link_to product.name, product %>
    <% end %>
</div>