<!DOCTYPE html>
<html>
  <head>
    <title>ScareCrow - Products</title>
   <%= stylesheet_link_tag 'products' %>
  </head>

  <body>
    <%= link_to image_tag('logo.png'), root_path, class: "logo" %>
    <%= yield %>
  </body>
</html>
