<!DOCTYPE html>
<html>
  <head>
    <title>ScareCrow - Account</title>
    <%= favicon_link_tag asset_path('circlelogo.png') %>
    <%= stylesheet_link_tag 'sessions' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
